<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
  </head>
  <body>
    <h1>Posts from api</h1>

    <% if(posts && posts.length!== 0){ %>
     <%    posts?.forEach((data)=>{ %>
            <p><%= data.id %></p>
            <p><%= data.title%></p>
            <p><%= data.body%></p>
            
            <br>
           
     <%    }) %>
    <% } else { %>
        <p>no post found</p>
   <% } %>
  </body>
</html>
